@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

body{
    background-color: #24252A;
}





header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: rgb(69, 69, 69);
}

#titulo{
    font-family: 'Heebo', sans-serif;
    color:dodgerblue;
    position: relative;
    transition:ease-in-out 3s;
    animation: cores 20s linear 0s infinite normal forwards;
    
}

#titulo:hover{
    animation: bounce .5s ease-in-out 0s infinite alternate;
}


@keyframes bounce{
    
    from{left: 0; }
    to  {left: -30px;}
}

@keyframes cores{

    1%  {color: dodgerblue;}
    33% {color: rgb(63, 168, 63);}
    66% {color: rgb(255, 60, 0);}
    100% {color: rgb(56, 189, 189);}

}

li, a{
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 18px;
    display: inline-block;
    padding: 0px 20px;
}
#linksection:visited{
color: rgb(27, 209, 154);
}

#linksection:link{
    color: pink;
    }


.acor:hover{
    color: tomato;
    transition: .9s;

}


section,img{
    font-family: 'Heebo', sans-serif;
    color: white;
    font-weight: 500;
    background-color: rgb(69, 69, 69); 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2cm;
    margin-right: 2cm;
    
    
}

article{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2cm;
    margin-right: 2cm;
    background-color: rgb(69, 69, 69);
    font-family: 'Heebo', sans-serif;
    color: white;
    padding: 5px;
}

footer{
    background-color: rgb(69, 69, 69);
    font-family: 'Heebo', sans-serif;
    color: white;
    padding: 3px;
    text-align: center;

}

